.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}


.App-header {
  background-color: #FBD743;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #363B81;
}

.App-link {
  color: #61dafb;
}

.App-image {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: none
}

nav {
  height: 35px;
  display: flex;
  padding: 10px 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  align-items: left;
  background-color: #5DB9FF;
}

.nav--logo {
  display: flex;
  max-width: 100px;
  border-color: white
}