.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}


.App-header {
  background-color: #FBD743;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #363B81;
}

.App-link {
  color: #61dafb;
}

.App-image {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: none
}