.App {
  text-align: center;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 100px;
}


.App-header {
  padding-top: 20px;
  background-color: #FBD743;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #363B81;
}

.App-link {
  color: #61dafb;
}

.App-image {
  min-height: 50vh;
  padding: none
}

nav {
  height: 35px;
  display: flex;
  padding: 10px 10px;
  align-items: left;
  background-color: #5DB9FF;
}

.nav--logo {
  display: flex;
  max-width: 100px;
  border-color: white
}